/* HeroSlider.css */

.hero-slider {
  position: relative;
  width: 100vw; /* Set width to 100% of viewport width */
  height: 100vh; /* Set height to 100% of viewport height */
  overflow: hidden;
}

.slide {
  display: none;
}

.active {
  display: block;
}

img {
    width: 100%;
  height: 100%; 
  
}

.caption {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity */
  color: white;
  padding: 5px 10px;
  font-size: 14px; /* Adjust font size */
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
